# Python
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.venv/
venv/
pip-wheel-metadata/
db.sqlite3

# Secrets
secrets/credentials.json
secrets/token.json

# OS
.DS_Store
Thumbs.db
*.log
*.sqlite3
*.db
*.tmp
*.bak
*.swp

# Editors
.vscode/
.idea/

# === Archivos de configuración local ===
.env
.env.*
*.local
*.secret
*.config
*.ini

# === Dependencias / build ===
dist/
build/
.eggs/
.mypy_cache/
pytest_cache/
.coverage
htmlcov/

# === Docker ===
*.pid
*.tar
secrets/
docker-compose.override.yml
